@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.Models.Post

<div class="container">
    <h2>Edit: @Html.DisplayFor(model => model.Title)</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)

        @Html.LabelFor(model => model.Image)
        @Html.EditorFor(model => model.Image)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        @Html.LabelFor(model => model.Video)
        @Html.EditorFor(model => model.Video)

        <input type="submit" value="Save" class="btn btn-default"/>
    }
    <br />
    <h4>@Html.ActionLink("Back to List", "Index")</h4>
</div>

